body {
    background-color: #3a4360;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #111111;
}

header,main,footer {
    margin: 40px auto;
}

figure {
    background-color: #333333;
    width: 500px;
    margin: auto;
    text-align: center;
    box-shadow: 12px 12px 6px #222222;
    border-radius: 3px;
}

figure img {
    width: 500px;
    height: auto;
    margin: 0 auto;
    border-radius: 3px;
}

figcaption {
    background-color: #333333;
    color: #ddd;
    font-size: 1.05rem;
    width: 500px;
    margin: auto;
    margin-top: 0;
    border-radius: 3px;
    padding-bottom: 2px;
}

article {
    padding: 25px;
    margin: 40px 10%;
    box-shadow: 12px 12px 6px #222222;
    background-color: #d3d3d3;
    border: 2px solid #222;
    border-radius: 3px;
}

h2 {
    font-size: 1.8rem;
    text-align: center;
}

h3 {
    font-size: 1.35rem;
}


footer p {
    color: #ddd;
    margin-left: 10%;
}

@media only screen and (max-width: 1024px) {
    body {
        font-size: 13px;
    }

    header,main,footer {
        margin: 30px 5px;
    }

    article {
        padding: 10px;
        margin: 25px 5px;
        box-shadow: 5px 5px 3px #222222;
    }

    footer p {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 600px) {
    figure {
        width: 96%;
    }
    
    figure img {
        width: 100%;
    }
    
    figcaption {
        width: 100%;
    }
}